@using FDMC.App.Models.BindingModels;
@model CatCreatingBindingModel

@{
    ViewData["Title"] = "Add Cat";
}


<h2>Add Cat</h2>
<form action="/Cats/Add" method="post">
    <p>
        <label asp-for="Name"></label>
        <input type="text" name="Name" value="" />
    </p>
    <p>
        <label asp-for="Age"></label>
        <input type="text" name="Age" value="" />
    </p>
    <p>
        <label asp-for="Breed"></label>
        <input type="text" name="Breed" value="" />
    </p>
    <p>
        <label asp-for="ImageUrl"></label>
        <input type="text" name="ImageUrl" value="" />
    </p>
    <input type="submit" value="Add Cat"/>
</form>